        body {
            margin: 0;
            padding: 0;
            background: url('https://raw.githubusercontent.com/ArbYusuf/Website-Template/main/mainbg.gif') no-repeat center center fixed;
            background-size: cover;
        }
  
