nav {
  background-color: black;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.navbar-brand {
  font-family: 'Luckiest Guy', cursive;
  font-size: 24px;
  color: white;
  padding: 10px;
  background-color: grey;
  border-radius: 10px;
  text-decoration: none;
  margin-right: 20px;
  transition: transform 0.3s;
}

.navbar-brand:hover {
  transform: scale(1.2);
}

.navbar-menu {
  list-style: none;
  display: flex;
}

.navbar-menu li {
  margin-right: 10px;
}

.navbar-menu li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
}

.navbar-menu li a:hover {
  background-color: grey;
  border-radius: 10px;
}
