nav {
  background: grey;
  display: flex;
}

.brand {
  font-family: 'Luckiest Guy', cursive;
  font-size: 24px;
  color: #ffffff;
  text-decoration: none;
  background-color: #888888;
  padding: 10px 20px;
  border-radius: 20px 0 0 20px;
  transition: all 0.3s ease;
}

.brand:hover {
  background-color: #aaaaaa;
  transform: scale(1.05);
}

.navbar {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  background: black;
}

.navbar li {
  margin-right: 10px;
}

.navbar li a {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.navbar li a:hover {
  background: grey;
  color: black;
  transform: scale(1.2);
}
