body {
   background-image: url(https://raw.githubusercontent.com/ArbYusuf/Website-Template/main/mainbg.gif);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
}
